<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:replace="base::nav"></th:block>

<table>
    <tr>
        <td>
            <th:block th:replace="base::sidebar"></th:block>
        </td>
        <td>
            <h1>New Camp Submission</h1>
            <div class="container">
                <div class="jumbotron">
                    <div class="content">



                        <h4>Posts</h4>

                        <table class="table table-striped">
                            <tr>
                                <th>Applicant</th>
                                <th>Description</th>
                                <th>Highest Education</th>
                                <th>Grad Date</th>
                                <th>Email</th>
                                <th>Contact</th>
                                <th sec:authorize="hasAnyAuthority('DIRECTOR')" >Email Status</th>
                                <th sec:authorize="hasAnyAuthority('DIRECTOR')">Application Status</th>

                            </tr>
                            <tr th:each="row,iterStat : ${applicants}">
                                <td th:text="${row.fullName}"></td>
                                <td th:text="${row.description}"></td>
                                <td th:text="${row.levelOfEdu}"></td>
                                <td th:text="${row.getFormatGradDate()}"></td>
                                <td th:text="${users.get(iterStat.index).getEmail()}"></td>
                                <td><form class="form-inline" th:action="@{/email/contact}" th:object="${contact}" method="post">
                                    <div class="text">
                                        <label>
                                            <input type="hidden" th:name="emailValue" th:id="emailValue"  th:value="${row.id}" aria-label="..."/>
                                        </label>
                                    </div>

                                    <label>
                                        <input type="hidden" th:name="emailType" th:id="emailType" value="contact" aria-label="..."/>

                                    </label>


                                    <button type="submit" class="btn btn-default">Contact</button>
                                </form></td>
                                <td sec:authorize="hasAnyAuthority('DIRECTOR')" th:if="${row.decidedContains(camp)}"><form class="form-inline" th:action="@{/email/acceptreject}" th:object="${email}" method="post">
                                    <div class="text">
                                        <label>
                                            <input type="hidden" th:name="emailValue" th:id="emailValue"  th:value="${row.id}" aria-label="..."/>
                                        </label>
                                    </div>

                                    <label th:if="${row.acceptedContains(camp)}">
                                        <input type="hidden" th:name="emailType" th:id="emailType" value="reject" aria-label="..."/>

                                    </label>

                                    <label th:unless="${row.acceptedContains(camp)}">
                                        <input type="hidden" th:name="emailType" th:id="emailType" value="accept" aria-label="..."/>

                                    </label>

                                    <!--<label>
                                        <input type="hidden" th:name="emailType" th:id="emailType" value="flag" aria-label="..."/>

                                    </label>
                                    <label>

                                        <input type="hidden" th:name="emailType" th:id="emailType" value="delete" aria-label="..."/>
                                    </label>-->


                                    <button th:if="${row.decidedContains(camp)}" type="submit" class="btn btn-default">Email</button>
                                </form></td>

                                <td sec:authorize="hasAnyAuthority('DIRECTOR')"><form class="form-inline" th:action="@{/accept}" th:object="${accept}" method="post">
                                    <div class="text">
                                        <label>
                                            <input type="hidden" th:name="acceptValue" th:id="acceptValue"  th:value="${row.id}" aria-label="..."/>
                                        </label>
                                    </div>

                                    <label th:if="${row.acceptedContains(camp)}">
                                        <input type="hidden" th:name="acceptType" th:id="acceptType" value="reject" aria-label="..."/>

                                    </label>

                                    <label th:unless="${row.acceptedContains(camp)}">
                                        <input type="hidden" th:name="acceptType" th:id="acceptType" value="accept" aria-label="..."/>

                                    </label>

                                    <!--<label>
                                        <input type="hidden" th:name="acceptType" th:id="acceptType" value="flag" aria-label="..."/>

                                    </label>
                                    <label>

                                        <input type="hidden" th:name="acceptType" th:id="acceptType" value="delete" aria-label="..."/>
                                    </label>-->

                                    <button th:if="${row.acceptedContains(camp)}" type="submit" class="btn btn-default">Reject</button>
                                    <button th:if="${row.acceptedContains(camp)}" type="submit" class="btn btn-default">Accept</button>
                                </form></td>



                            </tr>
                        </table>





                    </div>
                </div>
            </div>

        </td>
    </tr>
</table>
<th:block th:replace="base::footlinks"></th:block>
</body>
<th:block th:replace="base :: script"></th:block>
</html>
